<div class="card d-flex justify-content-center">
    <h2 class="card-header">Crear Caso
        <a class="btn btn-light" style="color: rgb(26, 190, 245);" data-bs-toggle="offcanvas" href="#offcanvasRight" role="link" aria-controls="offcanvasExample">
            info
          </a>
    </h2>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
</div>

<div class="card-body">
    <div class="row g-0 bg-light position-relative">
        <div class="col-md-4 p-4 ps-md-0">
            <h5 class="mt-0">Soporte para Software</h5>
            <p>Asistencia para windows, office, programas de oficina </p>
            <a href="#" class="stretched-link"></a>
        </div>
        <div class="col-md-4 p-4 ps-md-0">
            <h5 class="mt-0">Soporte Administrativo</h5>
            <p>Asistencia para software Administrativo, CRM, Aplicativos de negocio </p>
            <a href="#" class="stretched-link"></a>
        </div>
        <div class="col-md-4 p-4 ps-md-0">
            <h5 class="mt-0">Soporte de Hardware</h5>
            <p>Asistencia para incidencias con equipos de cómputo(portátiles, desktop, tablets) y periféricos (impresoras, drives, reguladores, etc.) </p>
            <a href="#" class="stretched-link"></a>
        </div>
    </div>
    <div class="card-body">
        <h5>Detalles del Caso</h5>

    </div>
</div>