<div class="card d-flex justify-content-center">
    <h2 class="card-header">Crear Caso
        <a class="btn btn-light" style="color: rgb(26, 190, 245);" data-bs-toggle="offcanvas" href="#offcanvasRight" role="link" aria-controls="offcanvasExample">info</a>
        <div class="float-right letravino">
            <button (click)="util.paginaInicio()" class="btn btn-info mr-1">
          <i class="fa fa-home"></i>
        </button>
            <button (click)="util.paginaAnterior()" class="btn btn-info mr-1">
          <i class="fa fa-reply"></i>
        </button>
        </div>
    </h2>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Para Crear caso</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Hay tres tipos de casos que usted puede crear:</p>
            <p>Soporte para Software. This case type connects you to customer service for help with billing and account-related questions</p>
            <p>Service limit increase requests are also available to all AWS customers. For information on the default service limits, see AWS Service</p>
            <p>Limits Technical support cases connect you to technical support for help with service-related technical issues and, in some cases, third-party applications. If you have a Developer support plan, you can communicate using the web. If you have
                a Business or Enterprise support plan, you can also communicate by phone or live chat</p>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="row g-0 bg-light position-relative">
        <div class="col-md-4 p-4 ps-md-0">
            <h5 class="mt-0">Soporte para Software</h5>
            <p>Asistencia para windows, office, programas de oficina </p>
            <a href="#caso-soft" class="stretched-link"></a>
        </div>
        <div class="col-md-4 p-4 ps-md-0">
            <h5 class="mt-0">Soporte Administrativo</h5>
            <p>Asistencia para software Administrativo, CRM, Aplicativos de negocio </p>
            <a href="#caso-adm" class="stretched-link"></a>
        </div>
        <div class="col-md-4 p-4 ps-md-0">
            <h5 class="mt-0">Soporte de Hardware</h5>
            <p>Asistencia para incidencias con equipos de cómputo (portátiles, desktop, tablets) y periféricos (impresoras, drives, reguladores, etc.) </p>
            <a href="#caso-hard" class="stretched-link"></a>
        </div>
    </div>
    <div *ngxPermissionsOnly="['R01', 'R02']">
        <button routerLink="/asignar-casos" style="margin-left: 15%; width: 150px;" class="btn btn-info">
            Asignar Casos
        </button>
        <button routerLink="/casos-activos" style="margin-left: 15%; width: 150px;" class="btn btn-info">
            Casos Activos
        </button>
    </div>

</div>